<div class="header">
  <h3><span>Pr</span>ivacy Policy</h3>
</div>
<div class="row mt2 mb2">
  <div class="col-lg-12 mt-3 mb-3">
    <h5>Terms And Conditions</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a obcaecati iusto, velit animi assumenda cumque nostrum, delectus temporibus vitae maxime cum error illum consequatur ducimus ea eveniet suscipit blanditiis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a obcaecati iusto, velit animi assumenda cumque nostrum, delectus temporibus vitae maxime cum error illum consequatur ducimus ea eveniet suscipit blanditiis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam a obcaecati iusto, velit animi assumenda cumque nostrum, delectus temporibus vitae maxime cum error illum consequatur ducimus ea eveniet suscipit blanditiis.</p>
  </div>
</div>
