<div class="header">
  <h3><span>Ma</span>tch Setting</h3>
</div>
<form [formGroup]="matchSettingForm">
  <div class="row mt2 mb2">
    <div class="col-lg-12 mt-3 mb-3">
      <h6>Filter Your Matches</h6>
    </div>
    <div
      class="col-lg-12 mt-3 mb-3 d-flex justify-content-between align-items-center"
    >
      <div class="locationBox">
        <h2>Locations</h2>
        <h6>U.S.A</h6>
      </div>
    </div>
    <div
      class="col-lg-8 mt-3 mb-3 d-flex align-items-center justify-content-between"
    >
      <h6>Age</h6>
      <div class="rangBox">
        <div class="row">
          <div class="col-lg-6 mt-1">
            <ng-select placeholder="From" formControlName="age_from">
              <ng-option value="18">18</ng-option>
              <ng-option value="19">19</ng-option>
              <ng-option value="20">20</ng-option>
              <ng-option value="21">21</ng-option>
              <ng-option value="22">22</ng-option>
              <ng-option value="23">23</ng-option>
              <ng-option value="24">24</ng-option>
              <ng-option value="25">25</ng-option>
              <ng-option value="26">26</ng-option>
              <ng-option value="27">27</ng-option>
              <ng-option value="28">28</ng-option>
              <ng-option value="29">29</ng-option>
              <ng-option value="30">30</ng-option>
              <ng-option value="31">31</ng-option>
              <ng-option value="32">32</ng-option>
              <ng-option value="33">33</ng-option>
              <ng-option value="34">34</ng-option>
              <ng-option value="35">35</ng-option>
              <ng-option value="36">36</ng-option>
              <ng-option value="37">37</ng-option>
              <ng-option value="38">38</ng-option>
              <ng-option value="39">39</ng-option>
              <ng-option value="40">40</ng-option>
              <ng-option value="40+">40+</ng-option>
            </ng-select>
          </div>
          <div class="col-lg-6 mt-1">
            <ng-select placeholder="To" formControlName="age_to">
              <ng-option value="18">18</ng-option>
              <ng-option value="19">19</ng-option>
              <ng-option value="20">20</ng-option>
              <ng-option value="21">21</ng-option>
              <ng-option value="22">22</ng-option>
              <ng-option value="23">23</ng-option>
              <ng-option value="24">24</ng-option>
              <ng-option value="25">25</ng-option>
              <ng-option value="26">26</ng-option>
              <ng-option value="27">27</ng-option>
              <ng-option value="28">28</ng-option>
              <ng-option value="29">29</ng-option>
              <ng-option value="30">30</ng-option>
              <ng-option value="31">31</ng-option>
              <ng-option value="32">32</ng-option>
              <ng-option value="33">33</ng-option>
              <ng-option value="34">34</ng-option>
              <ng-option value="35">35</ng-option>
              <ng-option value="36">36</ng-option>
              <ng-option value="37">37</ng-option>
              <ng-option value="38">38</ng-option>
              <ng-option value="39">39</ng-option>
              <ng-option value="40">40</ng-option>
              <ng-option value="40+">40+</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-8 mt-3 mb-3 d-flex align-items-center justify-content-between"
    >
      <h6>Height</h6>
      <div class="rangBox">
        <div class="row">
          <div class="col-lg-6 mt-1">
            <ng-select placeholder="From" formControlName="height_from">
              <ng-option value="3.0 feet">3 feet</ng-option>
              <ng-option value="3 feet 1 inch">3 feet 1 inch</ng-option>
              <ng-option value="3 feet 2 inch">3 feet 2 inch</ng-option>
              <ng-option value="3 feet 3 inch">3 feet 3 inch</ng-option>
              <ng-option value="3 feet 4 inch">3 feet 4 inch</ng-option>
              <ng-option value="3 feet 5 inch">3 feet 5 inch</ng-option>
              <ng-option value="3 feet 6 inch">3 feet 6 inch</ng-option>
              <ng-option value="3 feet 7 inch">3 feet 7 inch</ng-option>
              <ng-option value="3 feet 8 inch">3 feet 8 inch</ng-option>
              <ng-option value="3 feet 9 inch">3 feet 9 inch</ng-option>
              <ng-option value="3 feet 10 inch">3 feet 10 inch</ng-option>
              <ng-option value="3 feet 11 inch">3 feet 11 inch</ng-option>
              <ng-option value="3 feet 12 inch">3 feet 12 inch</ng-option>
              <ng-option value="4 feet">4 feet</ng-option>
              <ng-option value="4 feet 1 inch">4 feet 1 inch</ng-option>
              <ng-option value="4 feet 2 inch">4 feet 2 inch</ng-option>
              <ng-option value="4 feet 3 inch">4 feet 3 inch</ng-option>
              <ng-option value="4 feet 4 inch">4 feet 4 inch</ng-option>
              <ng-option value="4 feet 5 inch">4 feet 5 inch</ng-option>
              <ng-option value="4 feet 6 inch">4 feet 6 inch</ng-option>
              <ng-option value="4 feet 7 inch">4 feet 7 inch</ng-option>
              <ng-option value="4 feet 8 inch">4 feet 8 inch</ng-option>
              <ng-option value="4 feet 9 inch">4 feet 9 inch</ng-option>
              <ng-option value="4 feet 10 inch">4 feet 10 inch</ng-option>
              <ng-option value="4 feet 11 inch">4 feet 11 inch</ng-option>
              <ng-option value="4 feet 12 inch">4 feet 12 inch</ng-option>
              <ng-option value="5 feet">5 feet</ng-option>
              <ng-option value="5 feet 1 inch">5 feet 1 inch</ng-option>
              <ng-option value="5 feet 2 inch">5 feet 2 inch</ng-option>
              <ng-option value="5 feet 3 inch">5 feet 3 inch</ng-option>
              <ng-option value="5 feet 4 inch">5 feet 4 inch</ng-option>
              <ng-option value="5 feet 5 inch">5 feet 5 inch</ng-option>
              <ng-option value="5 feet 6 inch">5 feet 6 inch</ng-option>
              <ng-option value="5 feet 7 inch">5 feet 7 inch</ng-option>
              <ng-option value="5 feet 8 inch">5 feet 8 inch</ng-option>
              <ng-option value="5 feet 9 inch">5 feet 9 inch</ng-option>
              <ng-option value="5 feet 10 inch">5 feet 10 inch</ng-option>
              <ng-option value="5 feet 11 inch">5 feet 11 inch</ng-option>
              <ng-option value="5 feet 12 inch">5 feet 12 inch</ng-option>
              <ng-option value="6 feet">6 feet</ng-option>
              <ng-option value="6 feet 1 inch">6 feet 1 inch</ng-option>
              <ng-option value="6 feet 2 inch">6 feet 2 inch</ng-option>
              <ng-option value="6 feet 3 inch">6 feet 3 inch</ng-option>
              <ng-option value="6 feet 4 inch">6 feet 4 inch</ng-option>
              <ng-option value="6 feet 5 inch">6 feet 5 inch</ng-option>
              <ng-option value="6 feet 6 inch">6 feet 6 inch</ng-option>
              <ng-option value="6 feet 7 inch">6 feet 7 inch</ng-option>
              <ng-option value="6 feet 8 inch">6 feet 8 inch</ng-option>
              <ng-option value="6 feet 9 inch">6 feet 9 inch</ng-option>
              <ng-option value="6 feet 10 inch">6 feet 10 inch</ng-option>
              <ng-option value="6 feet 11 inch">6 feet 11 inch</ng-option>
              <ng-option value="6 feet 12 inch">6 feet 12 inch</ng-option>
              <ng-option value="7 feet">7 feet</ng-option>
              <ng-option value="7 feet 1 inch">7 feet 1 inch</ng-option>
              <ng-option value="7 feet 2 inch">7 feet 2 inch</ng-option>
              <ng-option value="7 feet 3 inch">7 feet 3 inch</ng-option>
              <ng-option value="7 feet 4 inch">7 feet 4 inch</ng-option>
              <ng-option value="7 feet 5 inch">7 feet 5 inch</ng-option>
              <ng-option value="7 feet 6 inch">7 feet 6 inch</ng-option>
              <ng-option value="7 feet 7 inch">7 feet 7 inch</ng-option>
              <ng-option value="7 feet 8 inch">7 feet 8 inch</ng-option>
              <ng-option value="7 feet 9 inch">7 feet 9 inch</ng-option>
              <ng-option value="7 feet 10 inch">7 feet 10 inch</ng-option>
              <ng-option value="7 feet 11 inch">7 feet 11 inch</ng-option>
              <ng-option value="7 feet 12 inch">7 feet 12 inch</ng-option>
            </ng-select>
          </div>
          <div class="col-lg-6 mt-1">
            <ng-select placeholder="To" formControlName="height_to">
              <ng-option value="3 feet">3 feet</ng-option>
              <ng-option value="3 feet 1 inch">3 feet 1 inch</ng-option>
              <ng-option value="3 feet 2 inch">3 feet 2 inch</ng-option>
              <ng-option value="3 feet 3 inch">3 feet 3 inch</ng-option>
              <ng-option value="3 feet 4 inch">3 feet 4 inch</ng-option>
              <ng-option value="3 feet 5 inch">3 feet 5 inch</ng-option>
              <ng-option value="3 feet 6 inch">3 feet 6 inch</ng-option>
              <ng-option value="3 feet 7 inch">3 feet 7 inch</ng-option>
              <ng-option value="3 feet 8 inch">3 feet 8 inch</ng-option>
              <ng-option value="3 feet 9 inch">3 feet 9 inch</ng-option>
              <ng-option value="3 feet 10 inch">3 feet 10 inch</ng-option>
              <ng-option value="3 feet 11 inch">3 feet 11 inch</ng-option>
              <ng-option value="3 feet 12 inch">3 feet 12 inch</ng-option>
              <ng-option value="4 feet">4 feet</ng-option>
              <ng-option value="4 feet 1 inch">4 feet 1 inch</ng-option>
              <ng-option value="4 feet 2 inch">4 feet 2 inch</ng-option>
              <ng-option value="4 feet 3 inch">4 feet 3 inch</ng-option>
              <ng-option value="4 feet 4 inch">4 feet 4 inch</ng-option>
              <ng-option value="4 feet 5 inch">4 feet 5 inch</ng-option>
              <ng-option value="4 feet 6 inch">4 feet 6 inch</ng-option>
              <ng-option value="4 feet 7 inch">4 feet 7 inch</ng-option>
              <ng-option value="4 feet 8 inch">4 feet 8 inch</ng-option>
              <ng-option value="4 feet 9 inch">4 feet 9 inch</ng-option>
              <ng-option value="4 feet 10 inch">4 feet 10 inch</ng-option>
              <ng-option value="4 feet 11 inch">4 feet 11 inch</ng-option>
              <ng-option value="4 feet 12 inch">4 feet 12 inch</ng-option>
              <ng-option value="5 feet">5 feet</ng-option>
              <ng-option value="5 feet 1 inch">5 feet 1 inch</ng-option>
              <ng-option value="5 feet 2 inch">5 feet 2 inch</ng-option>
              <ng-option value="5 feet 3 inch">5 feet 3 inch</ng-option>
              <ng-option value="5 feet 4 inch">5 feet 4 inch</ng-option>
              <ng-option value="5 feet 5 inch">5 feet 5 inch</ng-option>
              <ng-option value="5 feet 6 inch">5 feet 6 inch</ng-option>
              <ng-option value="5 feet 7 inch">5 feet 7 inch</ng-option>
              <ng-option value="5 feet 8 inch">5 feet 8 inch</ng-option>
              <ng-option value="5 feet 9 inch">5 feet 9 inch</ng-option>
              <ng-option value="5 feet 10 inch">5 feet 10 inch</ng-option>
              <ng-option value="5 feet 11 inch">5 feet 11 inch</ng-option>
              <ng-option value="5 feet 12 inch">5 feet 12 inch</ng-option>
              <ng-option value="6 feet">6 feet</ng-option>
              <ng-option value="6 feet 1 inch">6 feet 1 inch</ng-option>
              <ng-option value="6 feet 2 inch">6 feet 2 inch</ng-option>
              <ng-option value="6 feet 3 inch">6 feet 3 inch</ng-option>
              <ng-option value="6 feet 4 inch">6 feet 4 inch</ng-option>
              <ng-option value="6 feet 5 inch">6 feet 5 inch</ng-option>
              <ng-option value="6 feet 6 inch">6 feet 6 inch</ng-option>
              <ng-option value="6 feet 7 inch">6 feet 7 inch</ng-option>
              <ng-option value="6 feet 8 inch">6 feet 8 inch</ng-option>
              <ng-option value="6 feet 9 inch">6 feet 9 inch</ng-option>
              <ng-option value="6 feet 10 inch">6 feet 10 inch</ng-option>
              <ng-option value="6 feet 11 inch">6 feet 11 inch</ng-option>
              <ng-option value="6 feet 12 inch">6 feet 12 inch</ng-option>
              <ng-option value="7 feet">7 feet</ng-option>
              <ng-option value="7 feet 1 inch">7 feet 1 inch</ng-option>
              <ng-option value="7 feet 2 inch">7 feet 2 inch</ng-option>
              <ng-option value="7 feet 3 inch">7 feet 3 inch</ng-option>
              <ng-option value="7 feet 4 inch">7 feet 4 inch</ng-option>
              <ng-option value="7 feet 5 inch">7 feet 5 inch</ng-option>
              <ng-option value="7 feet 6 inch">7 feet 6 inch</ng-option>
              <ng-option value="7 feet 7 inch">7 feet 7 inch</ng-option>
              <ng-option value="7 feet 8 inch">7 feet 8 inch</ng-option>
              <ng-option value="7 feet 9 inch">7 feet 9 inch</ng-option>
              <ng-option value="7 feet 10 inch">7 feet 10 inch</ng-option>
              <ng-option value="7 feet 11 inch">7 feet 11 inch</ng-option>
              <ng-option value="7 feet 12 inch">7 feet 12 inch</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-8 mt-3 mb-3 d-flex align-items-center justify-content-between"
      *ngIf="!specificLocation"
    >
      <h6>Browsing Radius</h6>
      <div class="rangBox">
        <div class="row">
          <div class="col-lg-6 mt-1">
            <ng-select placeholder="From" formControlName="browsing_from">
              <ng-option value="1 Km">1 km</ng-option>
              <ng-option value="5 Km">5 km</ng-option>
              <ng-option value="10 Km">10 km</ng-option>
              <ng-option value="15 Km">15 km</ng-option>
              <ng-option value="20 Km">20 km</ng-option>
              <ng-option value="25 Km">25 km</ng-option>
              <ng-option value="50 Km">50 km</ng-option>
              <ng-option value="100 Km">100 km</ng-option>
              <ng-option value="100+ Km">100+ km</ng-option>
            </ng-select>
          </div>
          <div class="col-lg-6 mt-1">
            <ng-select placeholder="To" formControlName="browsing_to">
              <ng-option value="1 Km">1 km</ng-option>
              <ng-option value="5 Km">5 km</ng-option>
              <ng-option value="10 Km">10 km</ng-option>
              <ng-option value="15 Km">15 km</ng-option>
              <ng-option value="20 Km">20 km</ng-option>
              <ng-option value="25 Km">25 km</ng-option>
              <ng-option value="50 Km">50 km</ng-option>
              <ng-option value="100 Km">100 km</ng-option>
              <ng-option value="100+ Km">100+ km</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-8 mt-3 mb-3 d-flex align-items-center justify-content-between"
      *ngIf="specificLocation"
    >
      <h6>Specific Location</h6>
      <div class="w-100">
        <div class="col-lg-12 mt-3 mb-3 w-100">
          <ng-select
            placeholder="Select"
            formControlName="specific_location"
            (change)="SelectedCountry($event)"
          >
            <ng-option
              *ngFor="let country of filteredCountries"
              [value]="country"
              >{{ country }}</ng-option
            >
          </ng-select>
        </div>
        <div class="col-lg-12 mt-3 mb-3 w-100">
          <ng-select
            placeholder="Select"
            formControlName="specific_location"
            (change)="SelectedState($event)"
          >
            <ng-option
              *ngFor="let state of filteredStates[0]"
              [value]="state"
              >{{ state }}</ng-option
            >
          </ng-select>
        </div>
        <div class="col-lg-12 mt-3 mb-3 w-100">
          <ng-select
            placeholder="Select"
            formControlName="specific_location"
            (change)="SelectedState($event)"
          >
            <ng-option *ngFor="let city of filteredCitites[0]" [value]="city">{{
              city
            }}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mt-3 mb-3">
      <div class="toggle-btn d-flex align-items-center mt1">
        <input
          type="checkbox"
          id="toggle2"
          (change)="toggleSec($event)"
          [checked]="specificLocation"
        />
        <label for="toggle2"></label>
        <span>Search by specific location</span>
      </div>
    </div>
  </div>
  <button class="blackBtn mt-3 mb-3" (click)="update()">Update</button>
</form>
