.header {
  position: relative;
  min-height: 85px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../assets/SVG/headingProp.svg) no-repeat;
    width: 52px;
    height: 100px;
    z-index: -1;
    background-size: contain;
  }

  h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 12px;
    right: 0;
    transform: translateY(-50%);
    font-family: gilroy-bold;
    letter-spacing: 1px;
    color: #000;

    span {
      color: #fff;
    }
  }
}
.row {
  width: 50%;
  input {
    background-color: #F2F2F2;
    border: none;
    outline: none;
    color: #000;
    padding: 1rem;
    width: 100%;
  }
  input::placeholder{
    color: #1A1A1A;
  }
}
.inpBox {
  width: 100%;
  position: relative;
  i {
    position: absolute;
    top: 50%;
    right: 15px;
    color: #000;
    transform: translateY(-50%);
  }
}
::ng-deep .toast-top-right {
  position: fixed;
    bottom: 0;
    right: 0;
    color: #fff;
    height: fit-content;
    top: unset !important;
}
::ng-deep .toast-success {
  background-color: #969696;
}
@media only screen and (max-width:768px){
  .header {
    h3 {
      width: fit-content;
      left: 18px;
    }
  }
  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .col-lg-12{
      justify-content: center !important;
    }
  }
}
@media only screen and (max-width: 540px) {
  //  all hders margin top
  .header {
    margin-top: 2rem;
  }
}
@media only screen and (max-width:414px){
  .header {
    h3 {
      left: 20px;
    }
  }
}
