.header {
  position: relative;
  min-height: 75px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../assets/SVG/headingProp.svg) no-repeat;
    width: 45px;
    height: 100px;
    z-index: -1;
    background-size: contain;
  }

  h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 10px;
    right: 0;
    transform: translateY(-50%);
    font-family: gilroy-bold;
    letter-spacing: 1px;
    color: #000;

    span {
      color: #fff;
    }
  }
}
h6{
    color: #666666;
    font-family: gilroy-light;
}
.right{
  float: right;
}
.imgbox{
  width: 100%;
  height: 300px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.row{
  h3{
    color: #000;
  }
}
::ng-deep .toast-top-right {
  position: fixed;
    bottom: 0;
    right: 0;
    color: #fff;
    height: fit-content;
    top: unset !important;
}
::ng-deep .toast-success {
  background-color: #969696;
}
@media only screen and (max-width: 540px) {
  //  all hders margin top
  .header {
    margin-top: 2rem;
  }
}
